apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
    labels:
        k8s-app: prometheus
    name: prometheus
    namespace: monitoring
spec:
    replicas: 1
    serviceName: "prometheus"
    template:
        metadata:
            labels:
                k8s-app: prometheus
        spec:
            containers:
            - image: prom/prometheus
              imagePullPolicy: Always
              name: prometheus
              securityContext:
                 runAsUser: 0
              args:
                - --config.file=/etc/prometheus/prometheus.yml
                - --storage.tsdb.path=/prometheus/data
                - --storage.tsdb.retention=8760h
              volumeMounts:
                - mountPath: "/prometheus"
                  name: prometheus-data
                - mountPath: "/etc/prometheus"
                  name: prometheus-config
            - image: quay.io/dhtech/dhauth
              imagePullPolicy: Always
              name: dhauth
              env:
              - name: APACHE_PROXY_PORT
                value: "9090" 
              - name: LDAP_GROUP
                value: "cn=prom-colo,ou=groups,dc=tech,dc=dreamhack,dc=se"
            restartPolicy: Always
            volumes:
                - name: prometheus-config
                  configMap:
                    name: prometheus-config
                - name: prometheus-data
                  persistentVolumeClaim:
                    claimName: prometheus-data
