apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
    labels:
        k8s-app: gitlab
    name: gitlab
    namespace: gitlab
spec:
    replicas: 1
    serviceName: "gitlab"
    template:
        metadata:
          labels:
            k8s-app: gitlab
        spec:
            containers:
            - name: gitlab-ee
              image: gitlab/gitlab-ee
              imagePullPolicy: always
              env:
              - name: GITLAB_ONNIBUS_CONFIG
                valueFrom:
                    configMapKeyRef:
                        name: gitlab-configmap
                        key: gitlab_omnibus_config
              - name: GITLAB_ROOT_PASSWORD
                valueFrom:
                    secretKeyRef:
                        name: gitlab
                        key: gitlab-root-password
              - name: EXTERNAL_URL
                value: "https://gitlab.tech.dreamhack.se"
              - name: DB_HOST
                value: postgres.gitlab
              - name: DB_DATABASE
                value: "gitlab"
              - name: DB_PASSWORD
                valueFrom:
                    secretKeyRef:
                        name: gitlab
                        key: DB_PASSWORD
              - name: REDIS_HOST
                value: redis.gitlab
              ports:
              - name: ssh
                containerPort: 22
              - name: http
                containerPort: 80
              - name: https
                containerPort: 443
              livenessProbe:
                httpGet:
                    path: /help
                    port: http
                initialDelaySeconds: 200
                timeoutSeconds: 1
                periodSeconds: 10
                successThreshold: 1
                failureThreshold: 10
              readinessProbe:
                httpGet:
                    path: /help
                    port: http
                initialDelaySeconds: 30
                timeoutSeconds: 1
                periodSeconds: 10
                successThreshold: 1
                failureThreshold: 3
              volumeMounts:
              - name: gitlab-etc
                mountPath: /etc/gitlab
              - name: gitlab-data
                mountPath: /gitlab-data
            volumes:
            - name: gitlab-etc
              persistentVolumeClaim:
                claimName: gitlab-etc
            - name: gitlab-data
              persistentVolumeClaim:
                claimName: gitlab-data
