apiVersion: v1
kind: Secret
metadata:
  name: pyirkbot-secret
  namespace: pyirkbot
type: Opaque
data:
  IRC_SERVER: # TODO
  IRC_SERVER_PASSWORD: # TODO
  IRC_SERVER_PORT: # TODO
  IRC_CHANNELS: # TODO
  ADMIN_CHANNEL: # TODO
  ADMIN_NICKS: # TODO
  LDAP_BASE: # TODO
  LDAP_SERVER: # TODO
  SVN_USERNAME: # TODO
  SVN_PASSWORD: # TODO
  SVN_TEAMS: # TODO
  UDP_CHANNEL: # TODO
  LOAD_PLUGINS: # TODO

