apiVersion: v1
kind: Secret
metadata:
  name: rocketchat
  namespace: rocketchat
type: Opaque
data:
  mongodb-url: mongodb://user:password@mongodb:27017/rocketchat # TODO
  mongodb-oplog-url: mongodb://user:password@mongodb:27017/local?authSource=admin&replicaSet=rs0 # TODO

